/* just for jsfiddle */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: local('Material Icons'), local('MaterialIcons-Regular'), url(https://fonts.gstatic.com/s/materialicons/v18/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format('woff2');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 5px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -moz-font-feature-settings: 'liga';
    -moz-osx-font-smoothing: grayscale;
}

.middle-indicator{
    position:absolute;
    top:48%;
}
.middle-indicator-text{
    font-size: 3rem;
}
a.middle-indicator-text{
    color:white !important;
}
.content-indicator{
    width: 40px;
    height: 40px;
    background: white;
    opacity: 0.6;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
}
.indicators{
    visibility: hidden;
}

div#slider-indicators{
    background-image: url("../img/banners/banner-slider.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.container-indicators{
    margin-top: 1%;
    margin-right: 7%;
}

div#previo{
    margin-right: 0.5%;
}