.navbar-fixed {
    z-index: 9999;
}
/* Custom Stylesheet */
@font-face {
    font-family: Montserrat;
    font-style: all;
    font-weight: normal;
    src: url("../fonts/montserrat/Montserrat-Light.otf");
}

@font-face {
    font-family: Montserrat Extra Light;
    font-style: all;
    font-weight: normal;
    src: url("../fonts/montserrat/Montserrat-SemiBold.otf");
}

@font-face {
    font-family: Evogria;
    font-style: all;
    font-weight: normal;
    src: url("../fonts/montserrat/Evogria-Italic.otf");
}

.evogria{
    font-family: Evogria;
}

a#logo-container2{
    margin-top: 5px;
}

.montserrat-extra-light{
    font-family: "Montserrat Extra Light";
}

h1, h2, h3, h4, h5, h6, p, a{
    font-family: Montserrat;
}

body {
    background-color: #f7f7f7;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

nav ul a,
nav .brand-logo {
    color: #444;
}

p {
    line-height: 2rem;
}

.button-collapse {
    color: #26a69a;
}

.parallax-container2 {
    min-height: 650px;
    line-height: 0;
    height: auto;
    color: rgba(255,255,255,.9);
}
.parallax-container2 .section2 {
    width: 100%;
}

@media only screen and (max-width : 992px) {
    .parallax-container2 .section2 {
        top: 40%;
    }
    #index-banner .section2 {
        top: 10%;
    }
}

@media only screen and (max-width : 600px) {
    #index-banner .section2 {
        top: 0;
    }
}

#bannerhome{
    margin-top: -10px;
}

.parallax-container {
    min-height: 500px;
    line-height: 0;
    height: auto;
    color: rgba(255,255,255,.9);
}
.parallax-container .section {
    width: 100%;
}

@media only screen and (max-width : 992px) {
    .parallax-container .section {
        top: 40%;
    }
    #index-banner .section {
        top: 10%;
    }
}

@media only screen and (max-width : 600px) {
    #index-banner .section {
        top: 0;
    }
}

.icon-block {
    padding: 0 15px;
}

.icon-block .material-icons {
    font-size: inherit;
}

footer.page-footer {
    margin: 0;
}

div#liquidacionButton{
    margin-top: 50%;
}

/*clases para efecto hover en las ubicaciones*/
div#sucursales{
    background: #524d94; /* For browsers that do not support gradients */
    background: linear-gradient(to right,#594fe1 , #594fe1, #684fe1); /* Standard syntax (must be last) */
}

.nav-color{
    background-color: #594fe1;
}

.detalle-producto{
    width: auto;
    height: auto;
}

#purple{
    margin-bottom: -130px;
}

#asesor{
    alignment: right;
    margin-top: -290px;
}

div#consulta{
    margin-top: -20px;
}

.div-imagen {
    display:inline-block;
    position:relative;
}

.div-imagen > div {
    position: fixed;
    top:0;
    left:0;
    z-index:-1;
    padding:10px;
    margin:0;
}

.desvanecer:hover {
    opacity: 0.09;
    -webkit-transition: opacity 500ms;
    -moz-transition: opacity 500ms;
    -o-transition: opacity 500ms;
    -ms-transition: opacity 500ms;
    transition: opacity 500ms;
}

.ajustar-texto{
    margin-top: 50px;
    margin-left: 50px;
}

.desvanecer2:hover {
    background-color: white;
    opacity: 0.09;
    -webkit-transition: opacity 500ms;
    -moz-transition: opacity 500ms;
    -o-transition: opacity 500ms;
    -ms-transition: opacity 500ms;
    transition: opacity 500ms;
}

.card-fix{
    width: 400px;
    height: auto;
}

.card-fix2{
    width: 300px;
    height: auto;
}

.card-fix3{
    width: 200px;
    height: auto;
}

.card-fix4{
    margin-left: 75px;
}

.tachado{
    text-decoration: line-through;
}

.icon-img{
    width: 50px;
    height: auto;
}

a#fab-menu{
    margin-top: -50px;
}

.apple{
    width: 100px;
    height: auto;
}

.foo-img{
    width: 250px;
    height: auto;
}

.ubicaciones{
    width: 300px;
    height: auto;
}

div#sucursales{
    text-align: center;
}

h5#centro-liquidacion{
    display: inline-block;
    position: relative;
}

h5#centro-liquidacion::after, h5#centro-liquidacion::before{
    content: '';
    position: absolute;
    width: 100px;
    height: 3px;
    background-color: currentColor;
    top: 0.6em;
}

h5#centro-liquidacion::before{
    left: -110px;
}

h5#centro-liquidacion::after{
    right: -110px;
}

.image-liquidacion {
    display: block;
    width: 100%;
    height: auto;
}

.image-liquidacion2{
    width: 85%;
    height: auto;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #6855de;
    opacity: 0.8;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}

.card-image:hover .overlay {
    height: 100%;
    opacity: 0.8;
}

.card-image2:hover .overlay {
    height: 100%;
    opacity: 0.8;
}

.overlay2 {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #f8f8f8;
    opacity: 0.8;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}

.card-image:hover .overlay2 {
    height: 100%;
    opacity: 0.8;
}

.card-image2:hover .overlay2 {
    height: 100%;
    opacity: 0.8;
}

.text {
    white-space: nowrap;
    color: white;
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.reserva-texto{
    line-height: 35px;
}

div#busqueda{
    background-color: white;
    border-radius: 8px;
}

div#home{
    margin-top: -70px;
}

.current-link{
    border-bottom-style: solid;
    border-bottom-width: medium;
    border-color: #00acc1;
}

a#logo-container{
    margin-top: 5px;
}

.ajustar-sugeridos{
    width: 100px;
    height: auto;
}

.ajustar-sugeridos-low{
    margin-left: 35%;
}

.ubicar-fix{
    margin-top: -50px;
    margin-bottom: -50px;
}

img#bannerRestablecer{
    width: 100%;
    height: auto;
}

.button-collapse{
    margin-left: -8px;
}

span#fixed{
    margin-left: -50px;
    margin-top: -50px;
    position: fixed;
}

.letter-spacing{
    letter-spacing: 1.5px;
}

#spopup{
    background-color: white;
    border-radius:9px;
    -moz-border-radius:9px;
    -webkit-border-radius:9px;
    -moz-box-shadow:inset 0 0 3px #333;
    -webkit-box-shadow:inset 0 0 3px #333;
    box-shadow:inner 0 0 3px #333;
    padding:12px 14px 12px 14px;
    width:310px;
    position:fixed;
    bottom:13px;
    display:none;
    z-index:90;
}

#mapa{
    height: 500px;
    width: 280px;
}

#store-logo{
    background-color: rgba(237, 219, 4, 37);
}

.fullWidth{
    width: 100%;
}

#ingresar{
    margin-top: 575px;
}

input#search::placeholder{
    display: none;
    color: white;
}

input#search2::placeholder{
    display: none;
}

#size-quienes{
    width: 500px;
    height: auto;
}

#ESCALÓN:hover, #MERLIOT:hover, #CASCADAS:hover, #SAN-MIGUEL:hover{
    border-left: transparent;
    border-right: transparent;
    border-top: transparent;
    border-style: solid;
    border-spacing: 50px;
    color: #00acc1;
}

.subir-divider{
    margin-top: -25px;
}

.subir-precio{
    margin-top: -2px;
}

.espacio-letra{
    margin-top: -10px;
}

.detalle-texto{
    line-height: 20px;
}

.divider-teal {
    height: 1px;
    overflow: hidden;
    background-color: #00acc1;
}

#opciones{
    margin-top: -9px;
}

#smart-sect{
    background-color: #F0F4F1;
}

.purple-text-2{
    color: #6855de;
}

#liquidaciones-home{
   margin-top: 15px;
}

#divider-home{
    margin-top: -6px;
}

#divider-home2{
    margin-top: -10px;
}

#inicio-blanco{
    background-color: white;
}

.negrita{
    font-weight: bold;
}

#bajar-quienes{
    margin-top: 25px;
}

.responsive-img-home{
    width: 100%;
    height: 110%;
}